[Unit]
Description=radarrAnnounced

[Service]
WorkingDirectory=/opt/radarrAnnounced
ExecStart=/usr/local/bin/python3.5 /opt/radarrAnnounced/bot.py
Restart=always
GuessMainPID=no
Type=simple
User=user
Group=user

[Install]
WantedBy=multi-user.target
